<div class="container d-flex justify-content-center align-items-center">
  
  <!-- Mensagem de erro -->
  <div *ngIf="mensagem && mensagem !== 'Autenticando e obtendo sua localização...'" 
       class="alert alert-danger text-center mb-3 position-absolute top-0">
    {{ mensagem }}
  </div>

  <div class="conteudo shadow-lg rounded-4 overflow-hidden">
    
    <!-- Área do formulário -->
    <div class="card border-0 bg-transparent">
      <div class="card-body">
        <h3 class="card-title text-center mb-3 fw-bold text-white">Entrar</h3>

        <form [formGroup]="formulario" (ngSubmit)="autenticarUsuario()">
          <div class="mb-3">
            <label for="userName" class="form-label text-white">Nome de usuário</label>
            <input 
              type="text" class="form-control rounded-3" id="userName" formControlName="userName" placeholder="Digite seu nome de usuário">
          </div>

          <div class="mb-3">
            <label for="senha" class="form-label text-white">Senha</label>
            <input 
              type="password" class="form-control rounded-3" id="senha" formControlName="senha" placeholder="Digite sua senha">
            <small class="text-warning fw-bold" *ngIf="formulario.get('senha')?.invalid && formulario.get('senha')?.touched">
              A senha deve ter pelo menos 8 caracteres.
            </small>
          </div>

          <div class="form-check mb-4">
            <input type="checkbox" class="form-check-input" id="lembrar">
            <label class="form-check-label text-white" for="lembrar">Lembrar-me</label>
          </div>

          <button type="submit" class="btn w-100 rounded-3 fw-bold" [disabled]="carregando">
            {{ carregando ? 'Processando...' : 'Entrar' }}
          </button>
        </form>
      </div>
    </div>

    <!-- Área da imagem lateral -->
    <div class="foto">
      <img src="https://api.gilvandev.com/image/logo_vibetex.png" alt="Logo Vibetex">
    </div>

  </div>
</div>
