<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Horas Trabalhadas</h2>
    </div>

    <div class="filters">
      <!-- Filtro por Técnico -->
      <label class="filtros" for="filtroTecnico">Filtrar por Colaborador:</label>
      <select id="filtroTecnico" [(ngModel)]="filtroColaborador" (change)="filtrarPorPeriodo()">
        <option value="">Todos</option>
        <option *ngFor="let usuario of listaUsuarios" [value]="usuario.usuarioId">
          {{ usuario.nome }}
        </option>
      </select>
      
      <!-- Escolher Data Inicial e Data Final -->
      <label for="dataInicial">Data Inicial:</label>
      <input id="dataInicial" type="date" [(ngModel)]="dataInicial">

      <label for="dataFinal">Data Final:</label>
      <input id="dataFinal" type="date" [(ngModel)]="dataFinal">

      <!-- Botão para filtrar pelo intervalo selecionado -->
      <button (click)="filtrarPorPeriodo()">Filtrar</button>

      <!-- Botão para filtrar pelo mês atual -->
      <button (click)="filtrarMesAtual()">Mês Atual</button>
      
      <!-- Botão para gerar PDF -->
      <button (click)="gerarPDF()" class="btn-pdf">Gerar PDF</button><br>

      <!-- Mensagem de alerta -->
      <div *ngIf="mensagemSemRegistros" class="alert alert-warning">
        {{ mensagemSemRegistros }}
      </div>
    </div>

    <!-- Tabela de Horas Trabalhadas -->
    <div class="card-body">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Colaborador</th>
              <th>Data</th>
              <th>Início</th>
              <th>Início da Pausa</th>
              <th>Fim da Pausa</th>
              <th>Fim</th>
              <th>Total</th>
              <th>Hora Devida</th>
              <th>Hora Extra</th>
              <th>Foto Início</th>
              <th>Foto Fim</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hora of horasFiltradas">
              <td>
                <img [src]="hora.fotoPerfil" 
                     alt="Foto do Colaborador" 
                     class="foto-perfil"
                     (error)="handleImageError($event, 'default-avatar.png')">
              </td>
              <td>{{ hora.nome }}</td>
              <td>{{ hora.data }}</td>
              <td>{{ hora.horaInicio }}</td>
              <td>{{ hora.inicioPausa }}</td>
              <td>{{ hora.fimPausa }}</td>
              <td>{{ hora.horaFim }}</td>
              <td>{{ hora.total }}</td>
              <td [ngClass]="{ 'bg-red': hora.horasDevidas !== '00:00' }">{{ hora.horasDevidas }}</td>
              <td [ngClass]="{ 'bg-yellow': hora.horasExtras !== '00:00' }">{{ hora.horasExtras }}</td>
              <td>
                <a *ngIf="hora.fotoInicio" [href]="hora.fotoInicio" target="_blank">
                  <img [src]="hora.fotoInicio" 
                       alt="Foto Início" 
                       style="width: 50px; height: 50px; border-radius: 5px;" 
                       (error)="handleImageError($event, 'default-avatar.png')">
                </a>
                <span *ngIf="!hora.fotoInicio">-</span>
              </td>
              <td>
                <a *ngIf="hora.fotoFim" [href]="hora.fotoFim" target="_blank">
                  <img [src]="hora.fotoFim" 
                       alt="Foto Fim" 
                       style="width: 50px; height: 50px; border-radius: 5px;" 
                       (error)="handleImageError($event, 'default-avatar.png')">
                </a>
                <span *ngIf="!hora.fotoFim">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>